{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="modal fade" id="premium" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" text-align="center">Halaman Beli</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <h1 style="padding-top: 20px;">HALAMAN BELI
                    </h1>
                    <p class="text-align" style="padding-top: 20px;">Informasi Paket yang Ingin Dibeli:
                    </p>
                    <table>
                        <tr>
                            <th>Nama</th>
                            <th>Harga</th>
                            <th>Resolusi Layar</th>
                            <th>Dukungan Perangkat</th>
                        </tr>
                            <tr>
                                <td>premium</td>
                                <td>269000</td> 
                                <td>1440 px</td>
                                <td>	Login di 8 perangkat,Streaming di semua perangkat pada satu waktu,Dukungan untuk HDR dan Dolby Atmos</td>
                            </tr>
                    </table>
                    <p class="text-align" style="padding-top: 20px;">Pilih Metode Pembayaran:
                    </p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Bayar dengan...</option>
                        <option value="1">Transfer Bank</option>
                        <option value="2">Kartu Kredit</option>
                        <option value="3">E-Wallet</option>
                      </select>
                    <button type="button" class="btn btn-primary">Bayar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="standar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" text-align="center">Halaman Beli</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <h1 style="padding-top: 20px;">HALAMAN BELI
                    </h1>
                    <p class="text-align" style="padding-top: 20px;">Informasi Paket yang Ingin Dibeli:
                    </p>
                    <table>
                        <tr>
                            <th>Nama</th>
                            <th>Harga</th>
                            <th>Resolusi Layar</th>
                            <th>Dukungan Perangkat</th>
                        </tr>
                            <tr>
                                <td>standar</td>
                                <td>219000</td> 
                                <td>1080 px</td>
                                <td>Login di 5 perangkat,Streaming di 3 perangkat pada satu waktu,Dapat dipakai di web, aplikasi, dan smart TV</td>
                            </tr>
                    </table>
                    <p class="text-align" style="padding-top: 20px;">Pilih Metode Pembayaran:
                    </p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Bayar dengan...</option>
                        <option value="1">Transfer Bank</option>
                        <option value="2">Kartu Kredit</option>
                        <option value="3">E-Wallet</option>
                      </select>
                    <button type="button" class="btn btn-primary">Bayar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" text-align="center">Halaman Beli</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <h1 style="padding-top: 20px;">HALAMAN BELI
                    </h1>
                    <p class="text-align" style="padding-top: 20px;">Informasi Paket yang Ingin Dibeli:
                    </p>
                    <table>
                        <tr>
                            <th>Nama</th>
                            <th>Harga</th>
                            <th>Resolusi Layar</th>
                            <th>Dukungan Perangkat</th>
                        </tr>
                            <tr>
                                <td>basic</td>
                                <td>159000</td> 
                                <td>720 px</td>
                                <td>Login di 3 perangkat,Streaming di satu perangkat pada satu waktu</td>
                            </tr>
                    </table>
                    <p class="text-align" style="padding-top: 20px;">Pilih Metode Pembayaran:
                    </p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Bayar dengan...</option>
                        <option value="1">Transfer Bank</option>
                        <option value="2">Kartu Kredit</option>
                        <option value="3">E-Wallet</option>
                      </select>
                    <button type="button" class="btn btn-primary">Bayar</button>
                </div>
            </div>
          </div>
        </div>
      </div>

<div class="container">
    <h1 style="padding-top: 20px;">HALAMAN KELOLA LANGGANAN
    </h1>
    <p class="text-align" style="padding-top: 20px;">Paket Langganan Aktif Anda:
    </p>
    <div id="active_table">
        <table>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jenis</th>
            <th>Date Added</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Akhir</th>
        </tr>
            <tr class="film-item">
                <td>{{aktif.username}}</td>
                <td>{{aktif.total}}</td> 
                <td>{{aktif.nama_paket}}</td>
                <td>{{aktif.start_date_time}}</td>
                <td>{{aktif.start_date_time}}</td>
                <td>{{aktif.end_date_time}}</td>
            </tr>
    </table>
    </div>
    <p class="text-align" style="padding-top: 20px;">Paket Langganan:
    </p>
    <div id="contributor_table">
        <table>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Resolusi Layar</th>
            <th>Dukungan Perangkat</th>
            <th>Beli</th>
        </tr>
        {% for packages in paket %}
        <tr>
            <td>{{packages.nama}}</td>
            <td>{{packages.harga}}</td> 
            <td>{{packages.resolusi_layar}}</td>
            <td>{{packages.dukungper}}</td>
            <td><a role="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{packages.nama}}">Beli</a></td>
        </tr>
        {%endfor%}
    </table>
    </div>
    <p class="text-align" style="padding-top: 20px;">Riwayat Transaksi
    </p>
    <div id="contributor_table">
        <table>
        <tr>
            <th>Nama Paket</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Akhir</th>
            <th>Metode Pembayaran</th>
            <th>Tanggal Pembayaran</th>
            <th>Total Pembayaran</th>
        </tr>
        {% for histories in riwayat %}
            <tr class="film-item">
                <td>{{histories.nama_paket}}</td>
                <td>{{histories.start_date_time}}</td> 
                <td>{{histories.end_date_time}}</td>
                <td>{{histories.metode_pembayaran}}</td>
                <td>{{histories.timestamp_pembayaran}}</td>
                <td>{{histories.total}}</td>
            </tr>
        {%endfor%}
    </table>
    </div>
  </div>

<script>
    async function refreshTable() {
        document.getElementById("contributor_table").innerHTML = ""
        const conts = await contributors()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Type</th>
            <th>Jenis</th>
            <th>Date Added</th>
        </tr>`
            htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.price}</td>
                <td>${item.fields.description}</td>
                <td>${item.fields.date_added}</td>
            </tr>` 
        document.getElementById("contributor_table").innerHTML = htmlString
  }
  async function refreshTableFilter() {
    document.getElementById("contributor_table").innerHTML = ""
    var titleSearch = $("#s_title").val()
    const books = await contributors()
    var data_filter = books.filter( element => element.fields.Title.toLowerCase().includes(titleSearch))
    document.getElementById("contributor_table").innerHTML = ""
        const conts = await contributors()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Type</th>
            <th>Jenis</th>
            <th>Date Added</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
        </tr>` 
        })
        
    document.getElementById("product_table").innerHTML = htmlString

    document.getElementById("book_table").innerHTML = htmlString
  }

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}