{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-box">
        <h1 class="mt-4 mb-4">Hapus Tayangan dari Daftar Unduhan</h1>
        
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-secondary">Hapus Tayangan</button>
        </form>

        {% if messages %}
            <ul class="mt-4">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal" {% if show_modal %} style="display: block;" {% endif %}>
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
            <h2>GAGAL MENGHAPUS TAYANGAN DARI DAFTAR UNDUHAN</h2>
            <p>Tayangan minimal harus berada di daftar unduhan selama 1 hari agar bisa dihapus.</p>
            <button class="btn btn-secondary" onclick="document.getElementById('myModal').style.display='none'">Tutup Modal</button>
        </div>
    </div>

    <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
