{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Daftar Unduhan</h1>
    
    <!-- Tabel Film Unduhan -->
    <table class="table">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Waktu Ditambahkan</th>
                <th>Aksi</th>
            </tr>
        </thead>  
        <tbody>
            {% for film in data_unduhan %}
            <tr class="film-item">
                <td>{{ film.0 }}</td>
                <td>{{ film.1 }}</td> 
                <td><button class="btn btn-danger">Hapus</button></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Tambah Film Button>
    <a href="#" class="btn btn-primary mt-3">Tambah Film</a>
    <!Tambah Film Button -->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
