{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Detail Daftar Favorit</h1>
    <div>
        <h2>Judul Daftar Favorit: {{ judul_favorit }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Judul Tayangan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for tayangan in favorite_list_details %}
                <tr class="tayangan-item">
                    <td>{{ tayangan.0 }}</td>
                    <td>
                        <form method="post" action="{% url 'daftar_favorit:remove_tayangan_from_favorite' %}">
                            {% csrf_token %}
                            <input type="hidden" name="judul_favorit" value="{{ judul_favorit }}">
                            <input type="hidden" name="judul_tayangan" value="{{ tayangan.0 }}">
                            <button type="submit" class="btn btn-danger">Hapus</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
