{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="back-btn">
        <a href="/series/{{ id_series }}" class="btn btn-white">Kembali</a>
    </div>

    <div class="container-box">
        <h1>Detail Episode</h1>
        <div>
            <h2>Judul: <span id="judul_episode">{{ judul }}</span></h2>
            <h3>Sub Judul: <span id="sub_judul">{{ sub_judul }}</span></h3>
            
            <form method="post">
                {% csrf_token %}
                <input class="slider" type="range" name="videoMinute" id="minuteSlider" min="0" max="100" step="1" value="0" oninput="this.nextElementSibling.value = this.value">
                <output>0</output><br>
        
                <button type="submit" name="set_video_minute" class="btn btn-primary" id="btn_tonton">Tonton</button>
            </form>

            <p>Episode Lainnya:</p>
            <ul id="episode_lainnya">
                {% for e in episode %}
                <li><a href="/series/episode/{{ e.judul }}">{{ e.judul }}</a></li>
                <!-- Tambahkan elemen li untuk setiap episode lainnya -->
                {% endfor %}
            </ul>
            <p>Sinopsis Episode: <span id="sinopsis_episode">{{ sinopsis }}</span></p>
            <p>Durasi Episode: <span id="durasi_episode">{{ durasi }}</span></p>
            <p>URL Episode: <a href="#" id="url_episode">{{ url_video }}</a></p>
            <p>Tanggal Rilis Episode: <span id="tanggal_rilis_episode">{{ release_date }}</span></p>
        </div>
    </div>
{% endblock %}