{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacilflix - Daftar Unduhan</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'background.png' %}");
            background-size: cover;
        }
        .navbar {
            padding: 10px 20px;
        }
        .navbar-brand {
            font-weight: bolder;
            font-size: x-large;
        }
        .container {
            background-color: white;
            border-radius: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 50px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .film-item {
            margin-bottom: 20px;
        }
        .film-item:last-child {
            margin-bottom: 0;
        }
        .btn {
            line-height: 40px;
            border: 0px;
            color: white;
        }
    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="{% url 'main:show_main' %}">
            <img src="{% static 'pacilflix.png' %}" style="width: 40px; height: auto;">
            PACILFLIX
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Daftar Tayangan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Daftar Kontributor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:favorit' %}">Kelola Daftar Favorit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:unduhan' %}">Kelola Daftar Unduhan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kelola Langganan</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'main:logout' %}" class="btn" style="width: 120px; height: 50px; font-size: large; font-weight: bold; background-color: red;">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    <!-- Search bar menggunakan Bootstrap -->
    <h1 style="padding-top: 20px;">HALAMAN KELOLA LANGGANAN
    </h1>
    <p class="text-align" style="padding-top: 20px;">Paket Langganan Aktif Anda:
    </p>
    <div id="active_table">
        <table>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jenis</th>
            <th>Date Added</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Akhir</th>
        </tr>
        {% for active in data_packages %}
            <tr class="film-item">
                <td>elliewatchlist786</td>
                <td>159000</td> 
                <td>basic</td>
                <td>2023-06-20</td>
                <td>2023-06-20</td>
                <td>22-5-2025</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <p class="text-align" style="padding-top: 20px;">Paket Langganan Aktif Anda:
    </p>
    <div id="contributor_table">
        <table>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Resolusi Layar</th>
            <th>Dukungan Perangkat</th>
            <th>Beli</th>
        </tr>
            <tr>
                <td>premium</td>
                <td>269000</td> 
                <td>1440 px</td>
                <td>Login di 3 perangkat</td>
                <td><button type="button" class="btn btn-primary">Beli</button></td>
            </tr>
            <tr>
                <td>standar</td>
                <td>219000</td> 
                <td>1080 px</td>
                <td>Login di 5 perangkat</td>
                <td><button type="button" class="btn btn-primary">Beli</button></td>
            </tr>
            <tr>
                <td>basic</td>
                <td>159000</td> 
                <td>720 px</td>
                <td>Login di 8 perangkat</td>
                <td><button type="button" class="btn btn-primary">Beli</button></td>
            </tr>
    </table>
    </div>
    <p class="text-align" style="padding-top: 20px;">Riwayat Transaksi
    </p>
    <div id="contributor_table">
        <table>
        <tr>
            <th>Nama Paket</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Akhir</th>
            <th>Metode Pembayaran</th>
            <th>Tanggal Pembayaran</th>
            <th>Total Pembayaran</th>
        </tr>
            <tr class="film-item">
                <td>basic</td>
                <td>2023-06-20</td> 
                <td>2024-06-20</td>
                <td>e-wallet</td>
                <td>20/06/2023 00:32:04</td>
                <td>159000</td>
            </tr>
    </table>
    </div>
  </div>

<script>
    async function refreshTable() {
        document.getElementById("contributor_table").innerHTML = ""
        const conts = await contributors()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Type</th>
            <th>Jenis</th>
            <th>Date Added</th>
        </tr>`
            htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.price}</td>
                <td>${item.fields.description}</td>
                <td>${item.fields.date_added}</td>
            </tr>` 
        document.getElementById("contributor_table").innerHTML = htmlString
  }
  async function refreshTableFilter() {
    document.getElementById("contributor_table").innerHTML = ""
    var titleSearch = $("#s_title").val()
    const books = await contributors()
    var data_filter = books.filter( element => element.fields.Title.toLowerCase().includes(titleSearch))
    document.getElementById("contributor_table").innerHTML = ""
        const conts = await contributors()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Type</th>
            <th>Jenis</th>
            <th>Date Added</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
        </tr>` 
        })
        
    document.getElementById("product_table").innerHTML = htmlString

    document.getElementById("book_table").innerHTML = htmlString
  }
</script>

